@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

p {
  text-align: center;
  margin-bottom: 4rem;
}

.links a {
  text-decoration: none;
  cursor: pointer;
  color: #171717;
  padding-right: 3rem;
  padding-left: 3rem;
  font-size: 1.1rem;
}

.links {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

canvas {
  max-height: 65vh;
}

@media screen and (max-width: 450px) {
  .links {
    flex-direction: column;
  }

  .links a {
    padding-top: 2rem;
  }
}