h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

p {
  text-align: center;
  margin-bottom: 4rem;
}

.links a {
  text-decoration: none;
  cursor: pointer;
  color: #171717;
  padding-right: 5rem;
  padding-left: 1rem;
  font-size: 1.1rem;
}

.links {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
